<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form [formGroup]="frm" (ngSubmit)="onSubmit(frm.value)">
            <div class="form-group">
                <label for="adSoyad">Adı Soyad</label>
                <input type="text" formControlName="adSoyad" class="form-control" id="adSoyad" placeholder="Ad Soyad"
                    [ngClass]="{'is-invalid': submitted && component.adSoyad.errors}">
                <small class="form-text text-muted invlaid-feedback"
                    *ngIf="submitted && component.adSoyad.errors?.required">Lütfen ad soyadı boş bırakmayınız.</small>
                <small class="form-text text-muted invlaid-feedback"
                    *ngIf="submitted && (component.adSoyad.errors?.maxlength || component.adSoyad.errors?.minlenght)">Lütfen
                    ad soyadı 3 ile 50 karakter arasında yazınız.</small>
            </div>
            <div class="form-group">
                <label for="kullaniciAdi">Kullanıcı Adı</label>
                <input type="text" formControlName="kullaniciAdi" class="form-control" id="kullaniciAdi"
                    placeholder="Kullanıcı Adı" [ngClass]="{'is-invalid': submitted && component.kullaniciAdi.errors}">
                <small class="form-text text-muted invlaid-feedback"
                    *ngIf="submitted && component.kullaniciAdi.errors?.required">Lütfen Kullanıcı adını boş
                    bırakmayınız.</small>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" formControlName="email" class="form-control" id="email" placeholder="Email"
                    [ngClass]="{'is-invalid': submitted && component.email.errors}">
                <small class="form-text text-muted invlaid-feedback"
                    *ngIf="submitted && component.email.errors?.required">Lütfen email alanını boş bırakmayınız.</small>
                <small class="form-text text-muted invlaid-feedback"
                    *ngIf="submitted && component.email.errors?.email">Lütfen geçerli bir email adresi giriniz.</small>
            </div>
            <div class="form-group">
                <label for="password">Şifre</label>
                <input type="password" formControlName="sifre" class="form-control" id="password" placeholder="Şifre"
                    [ngClass]="{'is-invalid': submitted && component.sifre.errors}">
            </div>
            <div class="form-group">
                <label for="password">Şifre Tekrar</label>
                <input type="password" formControlName="sifreTekrar" class="form-control" id="password"
                    placeholder="Şifre Tekrar" [ngClass]="{'is-invalid': submitted && component.sifreTekrar.errors}">
                <small *ngIf="submitted && frm.hasError('notSame')">Lütfen şifrenizi doğrulayınız.</small>
            </div>
            <button type="submit" class="btn btn-primary">Kayıt Ol</button>
        </form>
    </div>
    <div class="col-md-3"></div>

</div>